
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$viewleaf-resort-web-admin-primary: mat.define-palette(mat.$gray-palette, 800);
$viewleaf-resort-web-admin-accent: mat.define-palette(mat.$gray-palette, 200, 100, 400);

// The warn palette is optional (defaults to red).
$viewleaf-resort-web-admin-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$viewleaf-resort-web-admin-theme: mat.define-light-theme((
  color: (
    primary: $viewleaf-resort-web-admin-primary,
    accent: $viewleaf-resort-web-admin-accent,
    warn: $viewleaf-resort-web-admin-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($viewleaf-resort-web-admin-theme);

/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Roboto', sans-serif!important;
  src: url('./assets/fonts/roboto/Roboto-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}
html, body { height: 100%; }
body {
    margin: 0;
    font-family: 'Roboto', sans-serif!important;
    background: #fafafa!important;
}

h1 {
    font-size: 34pt!important;
}

h2 {
    font-size: 26pt!important;
}

h3 {
    font-size: 18pt!important;
}

h4 {
  font-size: 12pt!important;
}

h1, h2 ,h3, h4, h5, h6,
p, label, input, textarea, span, div, button {
  font-family: 'Roboto', sans-serif!important;
}
@import url(src/assets/css/animate.min.css);
@import url(src/assets/css/normalize.css);
@import url(src/assets/css/icomoon.css);
@import url(src/assets/css/font-awesome.min.css);
@import url(src/assets/css/meanmenu.css);
@import url(src/assets/css/owl.carousel.min.css);
@import url(src/assets/css/slick.css);
@import url(src/assets/css/jquery.fancybox.min.css);
// @import url(src/assets/css/jquery-ui.css);
@import url(src/assets/css/nice-select.css);


app-header {
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0;
  left: 0;
}
