
<!-- loader  -->
<div class="loader_bg">
  <div class="loader"><img src="../../../assets/images/loading.gif" alt="#"/></div>
</div>
<!-- end loader -->
<!-- header -->
<app-header></app-header>
<!-- end header inner -->
<!-- end header -->
<div class="back_re">
  <div class="container">
      <div class="row">
        <div class="col-md-12">
            <div class="title">
              <h2>About Us</h2>
            </div>
        </div>
      </div>
  </div>
</div>
<!-- about -->
<div class="about">
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
            <div class="titlepage">

              <p class="margin_0">
                Viewleaf Resort Hotel formerly Vista al Ciudad,
                 A Place Above the Rest. What can be more convenient than being
                 in a continuously developing urban area yet experiencing the best
                relaxation where natural surroundings coexist with recreational
                facilities? Vista Al Ciudad Resort offers a
                 getaway from life's pressures in the tranquility of an environment that truly feels
                 "away from it all".
                 Set in a secluded grounds yet only a few minutes away from the city proper, it sits blissfully on a hilly slope
                 offering a neck-swiveling view of the metropolis and the countryside, offering the best of both worlds, the panorama
                 of the city and the mountainous terrain.
                 </p>
              <p class="margin_0">
                 This resort can accommodate up to 30 persons per day for social gatherings and special events.
                It also provides comfortable air-conditioned room accommodation for its valued guests.
                We have as well budget-friendly place to stay for daytime visitors.
                This is a recommended destination for those who want to spend the weekend in a pleasant and relaxing place.
                Get pleasure from the beautiful landscape of Vista al Ciudad Reesort where leisure
          time is made more memorable with the company of your family and friends.
          This resort is not just a destination for family or company outings,
           Vista Al Ciudad Resort can be the venue for the most important occasions of your life, It is an ideal place to hold special events such as weddings,
           birthday parties, reunions, baptismal parties and corporate events while witnessing the stunning panoramic view of the neighboring city's skyline.


              </p>
              <a class="read_more" href="Javascript:void(0)"> Read More</a>
            </div>
        </div>
        <div class="col-md-7">
            <div class="about_img">
              <figure><img src="../../../assets/images/about.png" alt="#"/></figure>
            </div>
        </div>
      </div>
  </div>
</div>
<!-- end about -->
<!--  footer -->
<app-footer></app-footer>
