<mat-toolbar color="#fff" class="mat-elevation-z4">
  <span id="title">Room Type</span>
  <span class="toolbar-item-spacer"></span>
</mat-toolbar>
<div class="component-floating-actions vertical-actions">
  <button mat-fab color="primary" aria-label="New room type" matTooltip="New room type" (click)="showAddDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="content">
<div class="inner-content">
  <mat-card [ngClass]="{ 'hidden': isLoading }">
      <mat-card-content fxLayout="column" >
        <app-data-table
        defaultThumbnail="../../../../assets/img/banner.png"
        [isLoading]="isLoading"
        [dataSource]="dataSource"
        [columnDefs]="appConfig.config.tableColumns.roomType"
        [total]="total"
        (pageChange)="pageChange($event)"
        (sortChange)="sortChange($event)"
        (filterChange)="filterChange($event)"
        ></app-data-table>
      </mat-card-content>
  </mat-card>
  </div>
</div>

<ng-template #roomTypeFormDialog>
  <h4 mat-dialog-title>New room type</h4>

<div mat-dialog-content>
  <app-room-type-form #roomTypeForm></app-room-type-form>
</div>

<div mat-dialog-actions>
  <div>
    <button
      mat-flat-button
      cdkFocusInitial
      (click)="closeNewRoomTypeDialog()"
    >
      Cancel
    </button>
    <button
      mat-flat-button
      [disabled]="!roomTypeForm.valid || !roomTypeForm.ready"
      color="primary"
      type="submit"
      (click)="saveNewRoomType(roomTypeForm.getFormData)"
    >
      Save
    </button>
  </div>
</div>

</ng-template>

