
<!-- loader  -->
<div class="loader_bg">
  <div class="loader"><img src="../../../assets/images/loading.gif" alt="#"/></div>
</div>
<!-- end loader -->
<!-- end loader -->
<!-- header -->
<app-header></app-header>
<!-- end header inner -->
<!-- end header -->
<div class="back_re">
  <div class="container">
      <div class="row">
        <div class="col-md-12">
            <div class="title">
                <h2>Contact Us</h2>
            </div>
        </div>
      </div>
  </div>
</div>
<!--  contact -->
<div class="contact">
  <div class="container">
      <div class="row">
        <div class="col-md-6">
            <form id="request" class="main_form">
              <div class="row">
                  <div class="col-md-12 ">
                    <input class="contactus" placeholder="Name" type="type" name="Name">
                  </div>
                  <div class="col-md-12">
                    <input class="contactus" placeholder="Email" type="type" name="Email">
                  </div>
                  <div class="col-md-12">
                    <input class="contactus" placeholder="Phone Number" type="type" name="Phone Number">
                  </div>
                  <div class="col-md-12">
                    <textarea class="textarea" placeholder="Message" type="type" Message="Name">Message</textarea>
                  </div>
                  <div class="col-md-12">
                    <button class="send_btn">Send</button>
                  </div>
              </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="map_main">
              <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3860.101382937545!2d121.1306329!3d14.650186!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397b96781cb3ef1%3A0x7c7bacc3a23eb564!2sViewleaf%20Resort!5e0!3m2!1sen!2sph!4v1707369153892!5m2!1sen!2sph" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
        </div>
      </div>
  </div>
</div>
<!-- end contact -->
<!--  footer -->
<app-footer></app-footer>
